@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    color: white;
    font-family: 'Montserrat', sans-serif;

}

.mainbox {
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
}

.err {
    font-size: 11rem;
    position: absolute;
    left: 20%;
    top: 8%;
}

.far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
}

.err2 {
    font-size: 11rem;
    position: absolute;
    left: 68%;
    top: 8%;
}

.msg {
    color: white;
    text-align: center;
    font-size: 1.6rem;
    position: absolute;
    left: 16%;
    top: 45%;
    width: 75%;
}

a:hover {
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
}