@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    color: white;
    font-family: 'Montserrat', sans-serif;

}

.container {
    margin-top: 5%;
}