@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    font-family: 'Montserrat', sans-serif;
}

.header {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
}

.search-btn {
    color: white;
    border: 2px solid white;
}

.search-btn:hover{
    background-color: white;
    color: #FF416C;
}